<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdillion.zooma.admin.dao.UserMapper">
    <cache />

    <select id="selectUserList" resultType="UserModel">
        SELECT
          U_SEQ       AS USEQ
          , U_ID      AS UID
          , U_PASSWORD AS UPASSWORD
          , U_KEY     AS UKEY
          , U_NAME    AS UNAME
          , U_EMAIL   AS UEMAIL
          , U_NICKNAME AS UNICKNAME
          , U_PHONE   AS UPHONE
          , U_PHONE_YN AS UPHONEYN
          , U_EMAIL_YN AS UEMAILYN
          , U_PHONE_VIEW AS UPHONEVIEW
          , U_AGE     AS UAGE
          , U_BIRTH   AS UBIRTH
          , U_GENDER  AS UGENDER
          , U_PROFILE_IMAGE AS UPROFILEIMAGE
          , U_TYPE    AS UTYPE
          , U_STATUS  AS USTATUS
          , U_USE_YN  AS UUSEYN
          , U_INFO_YN AS UINFOYN
          , U_LOCATION_YN AS ULOCATIONYN
          , U_ADMIN_YN AS UADMINYN
          , U_REGISTERD_DATE AS UREGISTERDDATE
          , U_UPDATE_DATE AS UUPDATEDATE
        FROM ZM_USER
    </select>


</mapper>